<div class="content-column">
  <mat-card>
    <mat-card-title>
      Customers
    </mat-card-title>
    <div fxLayoutAlign="start baseline">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput [formControl]="filterInput">
        <button mat-button matSuffix mat-icon-button *ngIf="filterInput.value"
          aria-label="Clear" (click)="filterInput.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-icon *ngIf="!filterInput.value" matSuffix>filter_list</mat-icon>
      <span fxFlex> </span>
      <button class="addButton" mat-mini-fab (click)="addCustomer()">
        <mat-icon aria-label="Add Customer">add</mat-icon>
      </button>
    </div>
    <crm-customer-list-table [customers]="filteredCustomers$"></crm-customer-list-table>
  </mat-card>

  <mat-card>
    <pre>
      {{filteredCustomers$ | async | json}}
    </pre>
  </mat-card>
</div>
